@import "~bootstrap-scss";
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
@import "slider";


.button {
  padding: 20px 40px;
  font-weight: 700;
  font-size: 16px;
}

* {
  font-family: 'Source Sans Pro', sans-serif;
}

//Side Nav
.sidenav {
  height: 100vh;
  width: 0;
  background-color: #2D809F;
  position: fixed;
  right: 0;
  top: 0;
  transition: ease-in-out 0.5s;
  z-index: 1;
  overflow: hidden;

  &.display-nav {
    width: 250px;
  }

  .sidenav-brand {
    background-color: #2B7996;
    height: 80px;
    margin-bottom: 0;
  }

  p {
    font-size: 19px;
    padding: 15px;
    margin: 0;
    color: white;
    white-space: nowrap;
    cursor: default;
  }

  a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 15px;
    transition: ease-in-out 0.3s;
  }

  a:hover {
    background-color: #4A98B1;
  }
}

.burger {
  position: fixed;
  top: 15px;
  right: 15px;
  background-color: rgba(72,72,72,.5);
  border-radius: 5px;
  width: 50px;
  height: 50px;
  z-index: 1;

  .burger-bar {
    width: 15px;
    height: 2px;
    background-color: white;
    margin: 2px 0;
    transition: 0.5s;
  }
}

.burger:hover {
  background-color: rgba(72,72,72,1);
  cursor: pointer;
}

.change {
  .burger-bar:first-child {
    transform: rotate(-45deg) translate(-4px, 4px);
    transition: .5s;
  }
  .burger-bar:nth-child(2) {
    opacity: 0;
  }

  .burger-bar:last-child {
    transform: rotate(45deg) translate(-4px, -5px);
    transition: 0.5s;
  }
}

.back-to-top {
  position: fixed;
  z-index: 1;
  bottom: 15px;
  right: 15px;
  width: 50px;
  height: 50px;
  border-radius: 5px;
  font-size: 32px;
  color: white;
  background-color: rgba(72,72,72,.5);
  display: none;
}

.back-to-top:hover {
  background-color: rgba(72,72,72,1);
  cursor: pointer;
}

.change-btn {
  display: block;
}

.change-btn-red {
  display: block;
  background-color: red;
}

@media only screen and (max-width: 991px) {
  .sidenav {

    a {
      font-size: 12px;
    }

    p {
      font-size: 14px;
      padding: 5px;
    }
  }
}

//Main Block
.main-block {
  background-image: url(/images/page-1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  overflow: hidden;

  .main-block-container {
    padding: 0 10px;
  }

  .main-block-title {
    color: burlywood;
    font-size: 88px;
    font-weight: 600;
    margin: 0 0 4px;
  }

  .main-block-text {
    color: burlywood;
    font-size: 28px;
    font-weight: 700;
    font-style: italic;
    margin: 0 0 48px;
    line-height: 33px;
  }

  .main-block-btn {
    @extend .button;
  }
}

@media only screen and (max-width: 991px) {
  .main-block {

    .main-block-title {
      font-size: 64px;
      width: 90%;
      margin: 0 auto;
    }

    .main-block-text {
      width: 90%;
      margin: 0 auto 48px;
      line-height: 34px;
      font-size: 28px;
    }
  }
}

//What We Offer
.what-we-offer {
  overflow: hidden;

  .what-we-offer-container {
    padding: 0 10px;
    margin: 120px auto;
  }

  .what-we-offer-title {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 8px;
  }

  .what-we-offer-text {
    font-size: 20px;
    margin-bottom: 48px;
    font-weight: 300;
  }

  .what-we-offer-btn {
    @extend .button;
  }
}

//Services
@media only screen and (min-width: 1200px) {
  .services-container {
    max-width: 1140px;
  }
}
.services {
  overflow: hidden;
  background-color: #2D809F;

  .services-container {
    margin: 120px auto;
  }

  .services-text {
    color: #ECB807;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
  }

  .services-title {
    margin-bottom: 48px;
    font-size: 48px;
    font-weight: 700;
  }

  .services-row {
    margin: 0;
  }

  .services-icon {
    width: 112px;
    margin-bottom: 16px;
  }

  .services-icon-title {
    margin-bottom: 8px;
    font-weight: 700;
    font-size: 24px;
  }

  .services-icon-text {
    margin-bottom: 0;
  }
}

@media only screen and (max-width: 991px) {
  .services {

    .services-container {
      margin-top: 120px;
      margin-bottom: 72px;
    }

    .services-items {
      margin-bottom: 48px;
    }
  }
}

//Block Download Now
.download-block {
  overflow: hidden;
  background-image: url(/images/download-now.jpg);
  background-size: cover;
  background-position: center;

  .download-block-container {
    padding: 0 10px;
    margin: 240px auto;
  }

  .download-block-title {
    font-weight: 700;
    font-size: 56px;
    max-width: 480px;
    margin-bottom: 48px;
  }

  .download-block-btn {
   @extend .button;
  }
}

//Portfolio Block
.portfolio {
  overflow: hidden;

  .portfolio-container {
    margin: 120px auto;
  }

  .portfolio-text {
    color: #ECB807;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 19px;
  }

  .portfolio-title {
    font-weight: 700;
    font-size: 48px;
    margin-bottom: 48px;
  }

  .portfolio-picture {
    width: 100%;
    max-width: 100%;
    height: auto;
    transition: ease-in-out 0.3s;
  }

  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    background-color: #008CBA;
  }

  .portfolio-block:hover .portfolio-picture {
    transform: scale(0.9);
    transition: ease-in-out 0.5s;
  }

  .portfolio-block:hover .overlay {
    margin: auto;
    opacity: .5;
    transform: scale(0.9);
    transition: ease-in-out 0.5s;
  }

  .position-absolute-title {
    font-size: 13px;
    font-weight: 700;
    margin-bottom: 7px;
    text-transform: uppercase;
  }

  .position-absolute-text {
    font-size: 19px;
    font-weight: 300;
    margin-bottom: 0;
  }
}
@media only screen and (min-width: 1200px) {
  .portfolio-container {
    max-width: 1140px;
  }
}
@media only screen and (max-width: 991px) {
  .overlay {
    display: none;
  }

  .portfolio-block {
    pointer-events: none;
  }

  #portfolio-slider {
    margin: 0 auto;
  }

  .portfolio-img {
    position: relative;
  }

  .position-absolute {
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, .5);
    text-align: center;

    .position-absolute-title {
      margin-bottom: 10px;
      margin-top: 4px;
      font-size: 18px;
    }

    .position-absolute-text {
      margin-bottom: 10px;
    }
  }
}
@media only screen and (min-width: 992px) {
  .position-absolute{
    bottom: 0;
    margin: 4em;
    text-align: left;
  }
}

//Block 2 buttons
.two-btns-block {
  overflow: hidden;
  background-color: #2D809F;

  .two-btns-block-container {
    padding: 0 15px;
    margin: 120px auto;
  }

  .two-btns-block-title {
    margin-bottom: 24px;
    font-size: 32px;
    font-weight: 700;
  }
}
@media only screen and (max-width: 575px) {
  .two-btns-block-btn-left, .two-btns-block-btn-right {
    padding: 15px 30px;
    font-size: 12px;
    margin: 0 5px;
    font-weight: 700;
  }
}
@media only screen and (min-width: 576px) {
  .two-btns-block-btn-left, .two-btns-block-btn-right {
    padding: 20px 40px;
    font-size: 16px;
    margin: 0 12px;
    font-weight: 700;
  }
}

//Modal window
.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  overflow: hidden;
  animation-name: fadeIn;
  animation-duration: 0.7s;

  .modal-content{
    width: 50%;
    height: auto;
    margin: auto;
    border-radius: 8px;
    animation-name: slideIn;
    animation-duration: 0.7s;
  }

  .modal-header {
    background-color: green;

    h1 {
      font-weight: 700;
      color: white;
    }

    .modal-close-btn {
      font-size: 34px;
      color: white;
    }

    .modal-close-btn:hover {
      color: black;
      cursor: pointer;
    }
  }

  .modal-body {

    span {
      font-size: 38px;
    }

    .checked {
      color: orange;
    }
  }

  .modal-comment {
    p {
      padding: 0 15px;
    }

    .comment {
      width: 100%;
      height: 100px;
      border-radius: 5px;
    }

    .submit-btn {
      width: 100%;
      height: 50px;
      font-size: 24px;
      color: white;
      background-color: green;
      border-radius: 5px;
      text-transform: uppercase;
    }

    .submit-btn:hover {
      background-color: darkgreen;
    }
  }
}

@keyframes slideIn {
  from {top: -300px; opacity: 0}
  to {top: 0; opacity: 1}
}

@keyframes fadeIn {
  from {opacity: 0}
  to {opacity: 1}
}

.change-modal {
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 575px) {
  .modal {
    .modal-content {
      width: 80%;
    }
  }
}

//Map
#googleMap {
  height: 484px;
  width: 100%;
}

//Footer
@media only screen and (min-width: 1200px) {
  .footer-container {
    max-width: 1140px;
  }
}

.footer {
  overflow: hidden;

  .footer-container {
    margin-top: 78px;
  }

  .footer-row-icons {
    margin-bottom: 48px;
  }

  .social-networks-icons {
    width: 64px;
    opacity: .7;
  }

  .social-networks-icons:hover {
    opacity: 1;
  }

  .footer-text {
    margin-bottom: 0;
    font-weight: 400;
    font-size: 13px;
    line-height: 19px;
  }
}