.slick-slider {
  margin: 40px;
  max-width: 700px;
}

.slick-slide img {
  max-width: 100%;
  height: auto;
}

.slick-prev,
.slick-next {
  background: #4A98B1;
  border-radius: 50%;
  border: 2px solid #2B7996;
  z-index: 1;
}

.slick-prev
{
  left: -10px;
}
.slick-next
{
  right: -10px;
}

.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  color: transparent;
  outline: none;
  background: rgba(0,0,0,.5);
}

.slick-prev:before,
.slick-next:before {
  font-size: 16px;
  opacity: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.slick-prev:before {
  content: '<';
  font-weight: 900;
}

.slick-next:before {
  content: '>';
  font-weight: 900;
}

.slick-dots {
  bottom: -30px;
}
.slick-dots li button {
  border: 2px solid #4A98B1;
  border-radius: 50%;
}

.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
  opacity: .75;
}

.slick-dots li button:before {
  font-size: 25px;
  content: '';
}

.slick-dots li.slick-active button:before {
  border: 0;
  border-radius: 50%;
  background-color: #2D809F;
  opacity: 1;
}
